node_modules
# Keep environment variables out of version control
.env

/generated/prisma
/dist
logs/application-2026-08-04-11.log
logs/application-2026-08-04-11.log
logs/application-2026-08-04-11.log
